h1 {
  margin: auto;
}


.gameBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 300px;
  height: 300px;
  grid-template-areas: 
    "a1 a2 a3"
    "b1 b2 b3"
    "c1 c2 c3";
  font-size: 70px;
  align-content: center;
  justify-self: center;
  margin:auto;
  margin-top: 100px;
  border-style: groove;
}
.square:hover{
  border-width: 10px;
  background-color: lawngreen;
  transform:skew(66)
  
}
.square{
  
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  border-style:inset;
}
[data-sq="8"] {
  grid-area: a1;
}
[data-sq="1"] {
  grid-area: a2;
}
[data-sq="6"] {
  grid-area: a3;
}
[data-sq="3"] {
  grid-area: b1;
}
[data-sq="5"] {
  grid-area: b2;
}
[data-sq="7"] {
  grid-area: b3;
}
[data-sq="4"] {
  grid-area: c1;
}
[data-sq="9"] {
  grid-area: c2;
}
[data-sq="2"] {
  grid-area: c3;
}
